/* ==============================================
   Contact Page – Hero Banner
   ============================================== */

/* --- Container --- */
.topBody {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.topContainer {
    margin: 0px 20% 0px 20%;
}

/* --- Hero Image --- */
.topImage {
    padding-right: 60%;
    padding-top: 56.25%;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.65);
}

/* --- Title Text --- */
.topImageText {
    margin: 2rem 0px 2rem 0px;
    text-align: center;
    color: #E92427;
    font-size: 90px;
    font-family: 'Oleo Script', cursive;
}

/* ==============================================
   Responsive – Tablet (≤990px)
   ============================================== */
@media screen and (max-width: 990px) {
    .topContainer {
        margin: 0px 12.5% 0px 12.5%;
    }

    .topImage {
        padding-right: 75%;
    }
}

/* ==============================================
   Responsive – Mobile (≤630px)
   ============================================== */
@media screen and (max-width: 630px) {
    .topContainer {
        margin: 0px 5% 0px 5%;
    }

    .topImage {
        padding-right: 90%;
    }
}

/* ==============================================
   Responsive – Small Mobile (≤399px)
   ============================================== */
@media screen and (max-width: 399px) {
    .header {
        font-size: 55px;
    }
}
