.footerContainer {
    position: fixed;
    width: 100%;
    height: 25px;
    bottom: 2%;
    padding: 0 0 5px 0;
    text-align: center;
    background-color: #09548F;
    border-top: 12px solid white;
    color:black
}


.footerContainer a{
    text-decoration: none;
    color:white;
    text-align:center;
    
}

.grid {
    padding: 5px;
    display: grid;
    font-size: 18px;
    grid-template-columns: auto auto auto;
    color: white;
}

.closed {
    font-weight: bold;
    /* color:rgb(250,173,73); */
}

.address{
    cursor: pointer;
}

.visibleBig{
    display: inline;
}

.visibleSmall{
    display: none; 
}

@media screen and (max-width: 619px), (min-device-width: 767px) and (max-device-width: 1025px) and (orientation : portrait){
    .visibleBig{
        display: none;
    }
    
    .visibleSmall{
        display: inline;
    }

    .footerContainer{
        color: white;
    }

}

.mainPageBottom{
    position: fixed;
    width: 100%;
    height: 25px;
    bottom: 0px;
    background-color: white;
}

.mobileSpace{
    /* height:10px; */
    width:100%;
    padding-top: 3rem;
    visibility: hidden;
}