.homeBody{
    position:relative;
    width: 100%;
    height: 100%;
    top:75px;
    margin-bottom: 4rem;
}

.homeVid{
    height: auto;
    width: 70vw;
    height: 39.5vw;
    margin: 0px 15vw 0px 15vw;
}

.homeHeader{
    margin: 2rem 0px 1rem 0px;
    text-align: center;
    color: #2677B9;
    font-size:48px;
    font-family: 'Oleo Script', cursive;
 }

 .homeSubHeader{
     margin: 0px 3rem 2rem 3rem;
     font-size: 16px;
     color: black;
 }

 .homeHeader span{
     color: #E92427;
 }