/* ==============================================
   Home Page Layout
   ============================================== */

/* --- Page Container --- */
.homeBody {
    position: relative;
    width: 100%;
    height: 100%;
    top: 80px;
    margin-bottom: 4rem;
    animation-name: fadeIn;
    animation-duration: 2s;
}

/* --- Hero Header --- */
.homeHeader {
    margin: 2.5rem 0px 2.5rem 0px;
    text-align: center;
    color: #2677B9;
    font-size: 48px;
    line-height: 52px;
    font-family: 'Oleo Script', cursive;
}

.homeHeader span {
    color: #E92427;
}

/* --- Intro Text --- */
.homeSubHeader {
    margin: 0px 3rem 2.5rem 3rem;
    font-size: 16px;
    color: black;
    line-height: 24px;
}

/* --- YouTube Video Embed --- */
.homeVid {
    height: auto;
    width: 70vw;
    height: 39.5vw;
    margin: 0px 15vw 0px 15vw;
}

/* --- Louisiana Proud Section --- */
.LAproud {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.LaHeader {
    text-align: center;
    color: #2677B9;
    font-size: 48px;
    font-family: 'Oleo Script', cursive;
}

.LaSubHeader {
    margin: 0px 3rem 2.5rem 3rem;
    font-size: 16px;
    color: black;
    line-height: 24px;
    text-align: center;
}

/* ==============================================
   Responsive – Mobile (≤735px)
   ============================================== */
@media screen and (max-width: 735px) {
    .homeVid {
        height: auto;
        width: 90vw;
        height: 50.5vw;
        margin: 0px 5vw 0px 5vw;
    }

    .LaHeader {
        font-size: 36px;
    }

    .LAproud {
        padding: 1.5rem;
    }

    .LaSubHeader {
        margin: 0px 3rem 1rem 3rem;
        font-size: 12px;
        color: black;
        line-height: 18px;
        text-align: center;
    }
}
