.snapGrid {
    margin: 6rem 0px 5rem 0px;
    width:100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 1rem;
}

.seperator{
    
    border-right: 1px solid rgb(128,128,128,0.35);
}

.snapImage{
    margin: 0.5rem 10% 0.5rem 10%;
    width:250px;
    height:250px;
    /* max-width: 250px; */
    object-fit: contain;
    transition: .5s;
}

.snapHomeImage{
    margin: 0.5rem 10% 0.5rem 10%;
    width:65%;
    min-height: 250px;
    object-fit:cover;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.65);
    border-radius: 15px;
}

.snapDescription{
    margin:1rem;
    font-size: 16px;
    line-height: 24px;
}

.snapDescription a, .snapDescription a:focus{
    text-decoration: none !important;
    cursor: pointer;
    color: black;
}

.snapDescription b{
    font-size: 24px;
    line-height: 36px;
    color: #166DB4;
}

.dateSelected{
    color: #E92427;
    font-weight: bold;
}
.smallSeperator{
    display: none;
}

.mapHover:hover{
    color: #E92427;
    cursor:pointer;
}

/* ===================================== media screen */

@media screen and (max-width: 735px){
    .snapGrid{
        grid-template-columns: 100%;
        margin: 4rem 0px 1rem 0px;
    }

    .snapImage:hover{
        transition: 0s;
        transform: scale(1);
    }

    .snapImage{
        margin: 1rem 12.5% 0.5rem 12.5%;
        width:75%;
        transition: none;
    }

    .seperator{
        border-bottom: none;
    }

    .smallSeperator{
        width: 75%;
        margin: 1.5rem 12.5% 1.5rem 12.5%;
        display: inline-block;
    }
}

/* @media screen and (max-width: 399px){

} */